<h2> Client #<%= @client.id %> </h2>
<p>Nom: <%= @client.name %></p>
 <p>List of events for this client with link to event#show (by id)</p>
<ul>
  <% @client.events.order(eventstart: :desc).where(client: @client).each do |event| %>
  <li>
    <h2>
      Event #<%= event.id %> <%= link_to event.name, event_path(event)%>
    </h2>
    <p>Start date: <%= event.eventstart %></p>
    <p>End date: <%= event.eventend %></p>
    <p>Room: <%= event.room.name %></p>
    <p>Client: <%= event.client.name %></p>

    <% if policy(Event.new).new? %>
      <%= link_to "Make a new event", new_event_path(@client) %>
    <% end %>

    <% if policy(@client).edit? %>
    <%= link_to "Edit this client", edit_client_path(@client) %>
    <% end %>

    <% if policy(@client).destroy? %>
    <%= link_to "Destroy this client", clients_path(@client) %>
    <% end %>
  </li>
  <% end %>
</ul>
<%= link_to "Back to all clients", clients_path %>


