<h2><%= @client.name %></h2>

<p>Nom de contacte: <%= @client.contactname %></p>
<p>Email: <%= @client.contactemail %></p>
<p>Telèfon: <%= @client.contactphone1 %></p>
<p>NIF: <%= @client.idcard %></p>
<p>Adreça: <%= @client.address %> , <%= @client.postcode %>, <%= @client.city %></p>
<% if @client.comments %>
  <p>Comentaris: <%= @client.comments %></p>
<% end %>
<% if policy(@client).edit? %>
<%= link_to "Edit this client", edit_client_path(@client) %>
<% end %>

<% if policy(@client).destroy? %>
<%= link_to "Destroy this client", clients_path(@client) %>
<% end %>
<%= link_to "Back to all clients", clients_path %>

 <h4>List of events for this client</h4>
<% if policy(Event.new).create? %>
  <%= link_to "Make a new event", new_client_event_path({client_id: @client}) %>
<% end %>
<ul>
  <% @client.events.order(eventstart: :desc).where(client: @client).each do |event| %>
  <li>
    <h2>
      Event #<%= event.id %> <%= link_to event.name, event_path(event)%>
    </h2>
    <p>Start date: <%= event.eventstart %></p>
    <p>End date: <%= event.eventend %></p>
    <p>Room: <%= event.room.name %></p>
    <p>Client: <%= event.client.name %></p>

  </li>
  <% end %>
</ul>



