  <%= link_to "Veure calendari", calendar_path, class: "btn btn-info btn-wd btn-outline", :onclick=>"window.open(this.href,'create_company', 'height=600, width=600');return false;"  %>

<div class="card">
  <div class="card-header">
    <h3>Entri la informació per la reserva de <%= @client.name.upcase %>:</h3>
  </div>


  <div class="card-body">
    <%= simple_form_for @event do |f| %>

    <%= f.input :name, :label => "Nom" %>
    <%= f.input :description, :label => "Descripció"  %>
    <%= f.input :eventstart, :label => "Data inici"  %>
    <%= f.input :eventend, :label => "Data fi"  %>
    <%= f.input :activitystart, :label => "Inici acivitat"  %>
    <%= f.input :activityend, :label => "Fi activitat"  %>
    <%= f.input :representacio, :label => ". Representació?" %>
    <%= f.input :comments, :label => "Comentari general", input_html: { rows: 5, style: "height: auto;" } %>
    <%= f.input :comments2, :label => "Comentari intern", input_html: { rows: 5, style: "height: auto;" } %>
    <%= f.input :document, :label => "Link de documents"  %>
    <%= f.association :room, :label => "Sala"  %>
    <br>
    <p>És una reserva recurrent?</p>
    <%= f.input :weekly, :label => ". Setmanal" %>
    <%= f.input :monthly_day, :label => ". Mensual (dia de la setmana)"  %>
    <%= f.input :monthly_number, :label => ". Mensual (número del mes)"  %>
    <%= f.input :recurrence_ends_at, :label => "Data fi de recurrència"  %>
    <%= f.input :client_id, :as =>:hidden, :input_html => { :value => @client.id } %>
    <br>
    <%= f.submit "Confirmar reserva", class: "btn btn-info btn-wd btn-outline" %>

    <% end %>
  </div>
</div>
