<h2>Please enter event details for <%= @client.name %>:</h2>

<%= simple_form_for @event do |f| %>

<%= f.input :name %>
<%= f.input :description %>
<%= f.input :eventstart %>
<%= f.input :eventend %>
<%= f.input :activitystart %>
<%= f.input :activityend %>
<%= f.input :representacio %>
<%= f.input :weekly %>
<%= f.input :monthly_day %>
<%= f.input :monthly_number %>
<%= f.input :recurrence_ends_at %>
<%= f.input :comments %>
<%= f.input :comments2 %>
<%= f.input :document %>
<%= f.association :room %>
<%= f.input :client_id, :as =>:hidden, :input_html => { :value => @client.id } %>
<%= f.submit "Confirm event" %>

<% end %>

<p><%= link_to "Back to all clients", clients_path %></p>
<%= link_to "Back to client"%>
