<h2>Please enter event details:</h2>

<%= simple_form_for @event do |f| %>

<%= f.input :name %>
<%= f.input :description %>
<%= f.input :eventstart %>
<%= f.input :eventend %>
<%= f.input :activitystart %>
<%= f.input :activityend %>
<%= f.input :lloguer %>
<%= f.input :status %>
<%= f.input :representacio %>
<%= f.input :comments %>
<%= f.input :document %>
<%= f.association :client %>
<%= f.association :room %>
<%= f.submit "Confirm event" %>

<% end %>

<p><%= link_to "Back to all clients", clients_path %></p>
<%= link_to "Back to client"%>
