<h2> Event #<%= link_to @event.id, event_path(@event)%>
    </h2>
    <p>Nom: <%= @event.name %></p>
    <p>Status: <%= @event.status %></p>

    <% if (@event.status == Event::PENDING) && policy(@event).accept_or_decline? %>

      <%= simple_form_for @event, url: accept_event_path(@event), method: :patch do |f| %>
        <%= f.submit "Accept event" %>
      <% end %>

      <%= simple_form_for @event, url: decline_event_path(@event), method: :patch do |f| %>
        <%= f.submit "Decline event" %>
      <% end %>

    <% if (@event.status == Event::DECLINED) && policy(@event).accept_or_decline? %>

      <%= simple_form_for @event, url: accept_event_path(@event), method: :patch do |f| %>
        <%= f.submit "Accept event" %>
      <% end %>

    <% end %>

    <% end %>

    <% if policy(@event).edit? %>
    <%= link_to 'Edit this event', edit_event_path(@event) %>
    <% end %>

    <% if policy(@event).destroy? %>
    <%= link_to 'Delete this event', event_path(@event), method: :delete %>
    <% end %>



<%= link_to "Back to all events", events_path %>
<%= link_to "See in calendar", calendar_path %>
