<h2>Informes </h2>
<br>
<h5><%= link_to 'Totes les reserves', events_path, class: "btn btn-label" %></h5>
<h5><%= link_to 'Tots els lloguers', events_path(lloguer: true), class: "btn btn-label" %></h5>
<h5><%= link_to 'Lloguers falta info', clients_path(with_missing_info: true), class: "btn btn-label" %></h5>

<h5>Temps acumulat de reserva</h5>
  <% @clients.each do |client| %>
    <% if client.lloguer == false %>
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">
            #<%= client.id  %> <%= link_to client.name, client_path(client)%> Temps acumulat: <%= client.temps_acumulat %> hores
          </h4>
        </div>
      </div>
    <% end %>
  <% end %>


 <!-- - event.start) / 1.hour).round -->
