<div class="row">
  <div class="col-md-6">
    <div class="card stacked-form">
      <div class="card-body">
        <%= form_tag print_calendar_path, method: :get do %>

          <div class="form-group">
            <%= label_tag :date, "Date" %>
            <%= date_field_tag :date, Date.today, class: "form-control" %>
          </div>
          <div class="form-group">
            <div class="form-check">
              <%= label_tag 'view_type' do %>
                <%= radio_button_tag 'view_type', 'agendaDay', true %>
                <span>Day</span>
              <% end %>
            </div>
            <div class="form-check">
              <%= label_tag 'view_type' do %>
                <%= radio_button_tag 'view_type', 'agendaWeek' %>
                <span>Week</span>
              <% end %>
            </div>
            <div class="form-check">
              <%= label_tag 'view_type' do %>
                <%= radio_button_tag 'view_type', 'month' %>
                <span>Month</span>
              <% end %>
            </div>
          </div>
          <%= submit_tag "Print", class: "btn btn-info btn-wd btn-outline" %>

        <% end %>
      </div>
    </div>
  </div>
</div>
